frontend/node_modules

backend/chat/node_modules
backend/chat/.env
backend/chat/.env.production
backend/chat/dist

backend/mail/node_modules
backend/mail/.env
backend/mail/.env.production
backend/mail/dist

backend/user/node_modules
backend/user/.env
backend/user/.env.production
backend/user/dist